{% extends '../home.html' %}
{% block title %} Reparaciones {% endblock %}

{% block content %}	
<div class="container mt-4">
	{% if reparaciones %}
	    <table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Fecha</th>
					<th>Observacion</th>
					<th>Costo</th>
					<th>Vehiculo</th>
				</tr>
			</thead>
			<tbody>
				{% for reparacion in reparaciones %}
				<tr>
					<td>{{reparacion.id}}</td>
					<td>{{reparacion.fecha}}</td>
					<td>{{reparacion.observacion}}</td>
					<td>{{reparacion.costo}}</td>
					<td>{{reparacion.vehiculo}}</td>
					<td>
						<a href=""><i class="fas fa-edit"></i></a>
						<a href=""><i class="fas fa-eraser"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	<p>Inserta reparaciones porfavor</p>
	{% endif %}
</div>
{% endblock %}